:root{
    --colour-primary:#433C4D;
    --colour-secondary:#766886;
    --colour-accent:#E4DEDC;
    --colour-brand-grey:#74746C;

    --colour-black:#1a1a1a;
    --colour-white:#ebeae8;

    --colour-grey:#ccc;
    --colour-light-grey:#e0e0e0;
    --colour-dark-grey:#8d8d8d;
}